@import url("https://fonts.googleapis.com/css?family=Raleway");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  width: 100%;
  font-family: "Raleway", sans-serif;
  color: #fff;
  overflow: hidden;
  background: linear-gradient(
    -45deg,
    #405acc,
    #1142e0,
    #22225a,
    rgb(11, 35, 116)
  );
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
}
@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* WRAPPER */
.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  font-size: 0.8em;
  color: white;
  line-height: 3em;
}

/* NAVIGATION AND FOOTER */
nav,
footer {
  width: 100%;
  height: 3em;
  display: flex;
  padding: 0 50px;
}
nav {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: absolute;
}
footer {
  position: fixed;
  bottom: 0;
}
.name a {
  font-size: 1.3em;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 10px;
  color: turquoise;
}
.navLinks a,
footer a {
  font-size: 1.3em;
  font-weight: 500;
  text-decoration: none;
  color: white;
}
.navLinks a:hover,
footer a:hover {
  text-decoration: line-through;
}
.navLinks a:visited,
footer a:visited {
  color: turquoise;
}
.navLinks p,
footer p {
  word-spacing: 25px;
}

/* INTRO */
/* .intro {
  width: 100%;
  height: 4em;
  font-size: 1.5em;
  line-height: 1.5em;
  text-align: center;
  margin-top: 60px;
} */

/* CONTENT */
.container {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  margin: 150px 20px;
}
#education,
#experience,
#skills,
#references,
#hobbies {
  width: 20%;
  line-height: 1.5em;
  margin: 5px;
  padding-left: 60px;
}
hr {
  border: 1px solid pink;
  margin: 15px 0;
  width: 50px;
}
.programming i {
  font-size: 2em;
}
.fa-html5 {
  margin-right: 0.2em !important;
  margin-left: 0.2em;
}
.fa-js,
.fa-node-js {
  margin-left: 0.2em;
}
.fa-react {
  margin-left: 0.1em;
}
.programming p {
  padding-bottom: 12px;
}
h4 {
  margin-bottom: 12px;
}
/* DESKTOP VERSION ENDING */

/* MEDIA */
@media screen and (max-width: 1100px) {
  .wrapper {
    height: 100%;
  }
  .container {
    margin: 16px 20px;
    margin-top: 150px;
  }
  .intro {
    font-size: 1.2em;
    margin: 10px;
  }
}

@media screen and (max-width: 1000px) {
  body {
    height: 100%;
    overflow: scroll;
  }
  .container {
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    justify-content: space-between;
    margin-top: 150px;
  }
  /* .intro {
    font-size: 1em;
    line-height: 1em;
    text-align: center;
    margin: 40px 40px 10px 25px;
  } */
  #education,
  #experience,
  #skills,
  #references,
  #hobbies {
    min-width: 20%;
    line-height: 1.5em;
    margin: 5px;
  }

  footer {
    position: relative;
  }
}
@media screen and (max-width: 850px) {
  nav {
    display: flex;
    background-color: rgb(50, 63, 146);
    margin-bottom: 2em;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    margin-top: 60px;
  }
  .intro {
    display: none;
  }
  .programming {
    display: flex;
    flex-wrap: nowrap;
    width: 114%;
  }
  .programming h5 {
    display: none;
  }
  #education,
  #experience,
  #skills,
  #references,
  #hobbies {
    width: 50%;
    line-height: 1.5em;
    margin: 50px 0 0 0;
  }
}
@media screen and (max-width: 600px) {
  nav {
    display: flex;
    flex-wrap: wrap;
    /* background-color: rgb(50, 63, 146); */
    margin-bottom: 2em;
  }
}

@media screen and (max-width: 400px) {
  #experience p,
  #skills p,
  #references p,
  #hobbies p {
    display: none;
    margin-top: 10px;
  }
  #skills hr:nth-of-type(2) {
    display: none;
  }
  #education {
    width: 90%;
  }
}
